# Rust
/target
Cargo.lock

# IDEs
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

*.wxs

wix-tools/
# MSI/WiX
*.wixobj
*.wixpdb
wix314-binaries.zip

# Temporary build files
icon_converter/target/
debug.exe
debug.pdb

